@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #081d5f;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins","arial";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav-bar {
  background: #060b53;
}

.nav-bar a {
  color: #ffffff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

header .logo {
  color: #fafafa;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding-left: 2em;
  margin-left: .3em;
}

.social-icons {
  display: none;
}

.content {
  display: -ms-grid;
  display: grid;
  background: #081d5f;
  color: white;
  text-align: center;
}

.content .header {
  font-size: 4.5vw;
  text-align: center;
}

.content p {
  position: relative;
  top: -0.8em;
  font-size: 3vw;
}

.content .resume {
  margin: auto;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #3369ff;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
          box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.content .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .social ul a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1em 0.7em;
  font-size: 26px;
}

.content .social ul a:hover {
  opacity: 0.4;
}

.content .scroll {
  margin: auto;
  width: 30px;
}

.main-svg {
  display: none;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills svg {
  position: relative;
  max-width: 35em;
  top: -3em;
  height: auto;
  padding: 2em;
}

.dev-icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vh;
}

.dev-icons h1 {
  text-align: center;
  position: relative;
  top: -2em;
}

.dev-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -4em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dev-icons ul li {
  font-size: 8vw;
  margin-top: 4px;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.projects {
  background-color: #ebebeb;
  text-align: center;
  color: #111d57;
}

.projects svg {
  position: relative;
  top: -3em;
  left: -2em;
  width: 70vw;
  height: auto;
}

.projects .project-container .project-header {
  position: relative;
  top: -4vh;
  color: #2c1169;
  font-size: 6vw;
}

.projects .project-container p {
  position: relative;
  top: -4vh;
  font-size: 3vw;
  font-weight: bold;
}

.projects .project-container img {
  position: relative;
  top: -4vw;
  width: 60vw;
  padding: 1em;
}

.projects .project-container a {
  display: block;
  position: relative;
  color: var(--primary-color);
  padding: 1em;
  top: -2em;
  text-align: center;
}

.contact {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1em;
  width: auto;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact ul .contact-icons {
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.5em;
  color: white;
}

.contact ul .contact-icons:hover {
  color: rebeccapurple;
}

.contact #heart {
  display: inline-block;
  position: relative;
}

.splash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #dadde0;
  color: white;
  z-index: 200;
}

.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

.splash-logo {
  width: 40vh;
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(502px, 697px);
            transform: translate(502px, 697px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(502px, 730px);
            transform: translate(502px, 730px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(502px, 697px);
            transform: translate(502px, 697px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(502px, 730px);
            transform: translate(502px, 730px);
  }
}

@media only screen and (min-width: 800px) {
  #skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills .skills svg {
    position: relative;
    min-width: 50vw;
    top: -3em;
    height: auto;
    margin-left: 10em;
  }
  #skills .dev-icons {
    display: block;
    padding: 6em;
    margin-left: 3em;
  }
  #skills .dev-icons ul li {
    font-size: 6vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    cursor: pointer;
  }
  #skills .dev-icons ul li i:hover {
    color: var(--primary-color);
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    height: 80vh;
    padding: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects svg {
    position: relative;
    top: 3em;
    width: 50vw;
    height: auto;
  }
  .projects .project-container .project-header {
    position: relative;
    top: -4vh;
    color: #2c1169;
    font-size: 4vw;
  }
  .projects .project-container p {
    position: relative;
    top: -4vh;
    font-size: 2vw;
    font-weight: bold;
  }
  .projects .project-container img {
    position: relative;
    top: -4vw;
    width: 50vh;
    padding: 4em;
  }
  .projects .project-container a {
    display: inline;
  }
}

@media only screen and (min-width: 1050px) {
  .main {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .main .content {
    background: var(--primary-color);
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .main .content h1 {
    font-size: 3em;
    line-height: 1.2em;
    text-align: left;
    margin: 0;
  }
  .main .content p {
    font-size: 1.2em;
    margin: 0;
  }
  .main .content .social {
    display: none;
  }
  .main .content .resume {
    text-align: center;
    margin: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 2.5em;
    position: relative;
    top: -2em;
  }
  .main .main-svg {
    display: block;
    position: relative;
    right: 15em;
    max-width: 38em;
  }
  .nav-bar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-bar header {
    background: #060b53;
  }
  .nav-bar section {
    padding: 4em;
  }
  .nav-bar .social-icons {
    display: block;
    padding: 2em 4em 2em 7em;
    margin-left: 3em;
  }
  .nav-bar .social-icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
  }
}
/*# sourceMappingURL=main.css.map */